@inject HttpClient Http

<div class="spinner-border @(loaded ? "invisible" : "")" role="status" />

<div class="@(fade ? "" : "invisible") @(fade ? "fade-in" : "")">
    <h1>@this.post.Title</h1>
    <p>Last updated: @this.post.LastUpdated.ToShortDateString()</p>
    <p>@this.post.FirstPara</p>
    <a class="btn btn-light" href="/blog/@this.url">Read more</a>
</div>

@code {
    [Parameter]
    public string FilePath { get; set; }
    private string filePath;

    private bool fade = false;
    private bool loaded = false;
    private BlogPost post;
    private string url;

    protected override void OnInitialized()
    {
        CreatePostComponent();
    }

    protected override void OnParametersSet()
    {
        CreatePostComponent();
    }

    private void CreatePostComponent()
    {
        this.loaded = false;
        this.fade = false;
        StateHasChanged();
        this.filePath = FilePath; // markdown-test.md
        this.post = DataManager.BlogPosts.Find(post => post.Url.Split('/')[1] + ".md" == this.filePath);

        if (post == null)
        {
            return;
        }

        this.url = this.filePath.Split('.')[0];
        this.loaded = true;
        this.fade = true;
        StateHasChanged();
    }
}
