@inject IStringLocalizer<ResourceFiles.Resource> loc

<div class="card text-white bg-dark border-light h-100">
    <div class="card-body d-flex flex-column">
        @if (this.VideoLink != null)
        {
            <div class="ratio ratio-16x9 mb-4">
                <iframe src="@this.VideoLink" title="YouTube video" allowfullscreen></iframe>
            </div>
        }
        else if (this.ImageLink != null)
        {
            <img src="@this.ImageLink" class="img-fluid mb-4" alt="Project image" />
        }
        <h5 class="card-title">@this.ProjectName</h5>
        <p class="card-text">@this.ProjectDescription</p>
        <div class="mt-auto row">
            <div class="d-flex justify-content-center justify-content-sm-start col-12 col-sm-auto mb-2 mb-sm-0 pe-0">
                <a href="@this.ProjectLink" class="btn btn-primary">&#127918; @this.PlayText</a>
            </div>
            @if (this.CodeLink != null)
            {
                <div class="d-flex justify-content-center justify-content-sm-start col-12 col-sm-auto">
                    <a href="@this.CodeLink" class="btn btn-light"><i class="bi bi-github"></i> @loc["ViewCodeOnGitHub"]</a>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string VideoLink { get; set; }

    [Parameter]
    public string ImageLink { get; set; }

    [Parameter]
    public string ProjectName { get; set; }

    [Parameter]
    public string ProjectDescription { get; set; }

    [Parameter]
    public string ProjectLink { get; set; }

    [Parameter]
    public string PlayText { get; set; }

    [Parameter]
    public string CodeLink { get; set; }
}
