@page "/"
@inject IStringLocalizer<ResourceFiles.Resource> loc

<Document Title="@($"{loc["MyName"]} | {loc["Portfolio"]}")"></Document>

<h1 class="display-1 text-center">@loc["MyName"]</h1>

<p class="lead text-center">@loc["JobTitles"]</p>

<p class="mt-5">@loc["Intro1"]</p>

<p>@loc["Intro2"]</p>

<p>@loc["Intro3"]</p>

<h2 class="display-4 mt-5">@loc["SkillsHeader"]</h2>

<p>@loc["Skills1"]</p>

<p>@loc["Skills2"] <a href="https://www.linkedin.com/in/eliotcowley/">@loc["LinkedIn"]</a>@loc["Skills3"]</p>

<h3 class="mt-4">@loc["OverThreeYears"]</h3>

<div class="container text-white mt-4">
    <div class="row my-0 my-md-4">
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="@loc["EnglishNative"]" Experience="@ExperienceLevel.OverThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="@loc["Japanese"]" Experience="@ExperienceLevel.OverThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="Unity" Experience="@ExperienceLevel.OverThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="C#" Experience="@ExperienceLevel.OverThreeYears" />
        </div>
    </div>
    <div class="row my-0 my-md-4">
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="@loc["TechnicalWriting"]" Experience="@ExperienceLevel.OverThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="Git" Experience="@ExperienceLevel.OverThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="Markdown" Experience="@ExperienceLevel.OverThreeYears" />
        </div>
    </div>
</div>

<h3 class="mt-5">@loc["OneToThreeYears"]</h3>

<div class="container text-white mt-4">
    <div class="row my-0 my-md-4">
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="C++" Experience="@ExperienceLevel.OneToThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="DITA" Experience="@ExperienceLevel.OneToThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="HTML" Experience="@ExperienceLevel.OneToThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="CSS" Experience="@ExperienceLevel.OneToThreeYears" />
        </div>
    </div>
</div>

<h3 class="mt-5">@loc["LessThanOneYear"]</h3>

<div class="container text-white mt-4">
    <div class="row my-0 my-md-4">
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="Unreal Engine" Experience="@ExperienceLevel.LessThanOneYear" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="Blazor" Experience="@ExperienceLevel.LessThanOneYear" />
        </div>
    </div>
</div>

<h2 class="display-4 mt-5">@loc["Projects"]</h2>

<p>@loc["Projects1"]</p>

<div class="ratio ratio-16x9 mb-5">
    <iframe src="https://www.youtube.com/embed/HXnrO7fs9f0" title="Portfolio YouTube video" allowfullscreen></iframe>
</div>

<p class="mb-5">@loc["Projects2"]</p>

<div class="row mb-0 mb-lg-4">
    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
        <ProjectComponent CodeLink="https://github.com/eliotcowley/BrackeysGameJam2021"
                          VideoLink="https://www.youtube.com/embed/IN3Ul6sy2TY"
                          ProjectName="Untitled Gerbil Game"
                          ProjectDescription="@loc["UggDescription"]"
                          ProjectLink="https://smeliot.itch.io/untitled-gerbil-game"
                          PlayText="@loc["PlayOnItch"]"></ProjectComponent>
    </div>
    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
        <ProjectComponent VideoLink="https://www.youtube.com/embed/JOIlmdFdqkA"
                          ProjectName="@loc["Brevis"]"
                          ProjectDescription="@loc["BrevisDescription"]"
                          ProjectLink="https://www.microsoft.com/p/tales-of-brevis-a-beast-called-god/9ns8g9qgfqqp"
                          PlayText="@loc["PlayWindowsXbox"]"></ProjectComponent>
    </div>
</div>
<div class="row mb-0 mb-lg-4">
    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
        <ProjectComponent ImageLink="https://camo.githubusercontent.com/13f87a4546f1ccf4c513f42dadfca7e54872a85f7bc82d796d964fc204ad6c55/68747470733a2f2f69322e77702e636f6d2f656c696f74636f776c65792e636f6d2f77702d636f6e74656e742f75706c6f6164732f323032302f30382f486f6757696c6457696465436f7665722e706e67"
                          ProjectName="@loc["HogWild"]"
                          ProjectDescription="@loc["HogWildDescription"]"
                          ProjectLink="https://smeliot.itch.io/hog-wild"
                          PlayText="@loc["PlayOnItch"]"
                          CodeLink="https://github.com/eliotcowley/HogWild"></ProjectComponent>
    </div>
    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
        <ProjectComponent VideoLink="https://www.youtube.com/embed/TxMzhLl6pXw"
                          ProjectName="@loc["Lark"]"
                          ProjectDescription="@loc["LarkDescription"]"
                          ProjectLink="https://ds75.itch.io/lark"
                          PlayText="@loc["PlayOnItch"]"></ProjectComponent>
    </div>
</div>
<div class="row mb-0 mb-lg-4">
    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
        <ProjectComponent ImageLink="https://img.itch.zone/aW1hZ2UvNDM4NDQ5LzIyMDE4MjcucG5n/original/xOxCri.png"
                          ProjectName="@loc["Quest"]"
                          ProjectDescription="@loc["QuestDescription"]"
                          ProjectLink="https://smeliot.itch.io/quest"
                          PlayText="@loc["PlayOnItch"]"
                          CodeLink="https://github.com/eliotcowley/Quest"></ProjectComponent>
    </div>
</div>
