@page "/"
@inject IStringLocalizer<ResourceFiles.Resource> loc

<h1 class="display-1">@loc["Greeting"]</h1>

<p>@loc["Intro1"]</p>

<p>@loc["Intro2"]</p>

<p>@loc["Intro3"]</p>

<h2 class="display-4">@loc["SkillsHeader"]</h2>

<p>@loc["Skills1"]</p>

<p>@loc["Skills2"] <a href="https://www.linkedin.com/in/eliotcowley/">@loc["LinkedIn"]</a>@loc["Skills3"]</p>

<div class="container text-white">
    <div class="row">
        <div class="col-4 col-md-2">
            <SkillComponent Skill="@loc["OverThreeYears"]" Experience="@ExperienceLevel.OverThreeYears" />
        </div>
        <div class="col-4 col-md-2">
            <SkillComponent Skill="@loc["OneToThreeYears"]" Experience="@ExperienceLevel.OneToThreeYears" />
        </div>
        <div class="col-4 col-md-2">
            <SkillComponent Skill="@loc["LessThanOneYear"]" Experience="@ExperienceLevel.LessThanOneYear" />
        </div>
    </div>
</div>

<div class="container text-white mt-4">
    <div class="row my-0 my-md-4">
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="@loc["EnglishNative"]" Experience="@ExperienceLevel.OverThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="@loc["Japanese"]" Experience="@ExperienceLevel.OverThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="Unity" Experience="@ExperienceLevel.OverThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="C#" Experience="@ExperienceLevel.OverThreeYears" />
        </div>
    </div>
    <div class="row my-0 my-md-4">
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="@loc["TechnicalWriting"]" Experience="@ExperienceLevel.OverThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="Git" Experience="@ExperienceLevel.OverThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="Markdown" Experience="@ExperienceLevel.OverThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="C++" Experience="@ExperienceLevel.OneToThreeYears" />
        </div>
    </div>
    <div class="row my-0 my-md-4">
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="DITA" Experience="@ExperienceLevel.OneToThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="HTML" Experience="@ExperienceLevel.OneToThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="CSS" Experience="@ExperienceLevel.OneToThreeYears" />
        </div>
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="Unreal Engine" Experience="@ExperienceLevel.LessThanOneYear" />
        </div>
    </div>
    <div class="row my-0 my-md-4">
        <div class="col-6 col-md-3 mb-4 my-md-0">
            <SkillComponent Skill="Blazor" Experience="@ExperienceLevel.LessThanOneYear" />
        </div>
    </div>
</div>

<h2 class="display-4">@loc["Projects"]</h2>

<p>@loc["Projects1"]</p>

<div class="ratio ratio-16x9 mb-5">
    <iframe src="https://www.youtube.com/embed/HXnrO7fs9f0" title="Portfolio YouTube video" allowfullscreen></iframe>
</div>

<p class="mb-5">@loc["Projects2"]</p>

<div class="row">
    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
        <ProjectComponent CodeLink="https://github.com/eliotcowley/BrackeysGameJam2021"
                          VideoLink="https://www.youtube.com/embed/IN3Ul6sy2TY"
                          ProjectName="Untitled Gerbil Game"
                          ProjectDescription="@loc["UggDescription"]"
                          ProjectLink="https://smeliot.itch.io/untitled-gerbil-game"
                          PlayText="@loc["PlayOnItch"]"></ProjectComponent>
    </div>
    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
        <ProjectComponent CodeLink="https://github.com/eliotcowley/BrackeysGameJam2021"
                          VideoLink="https://www.youtube.com/embed/IN3Ul6sy2TY"
                          ProjectName="Untitled Gerbil Game"
                          ProjectDescription="Lorem ipsum"
                          ProjectLink="https://smeliot.itch.io/untitled-gerbil-game"
                          PlayText="Play on itch.io"></ProjectComponent>
    </div>
</div>